<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat Rooms</title>
</head>
<body>
    <h3>What chat room would you like to enter?</h3><br>
    <input id='room-name-input' type="text" size="100"/><br>
    <h3>What would you like to be identified as?</h3>
    <input id='user-name-input' type='text'></br> </br>
    <button type="submit" id="room-name-submit">Submit</button>

    <script type="text/javascript">
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if(e.keyCode === 13) {
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            var userName = document.querySelector('#user-name-input').value;
            window.location.pathname = '/chat/' + roomName + '/';
        }
    </script>
</body>
</html>